*.pyc
*~
*mako.py
seatplanner/data/sessions
.sconsign.dblite
*.so
*.os
seatplanner/planner/seatplan.py
*_wrap.cc
*_wrap.os
tile*png
trace.csv
*gpx
anim/*avi
fplan/fplan/aipdata.cache
output.png
./test.png
fplan/fplan/data
gmap_cache
fplan/fplan/development.db
flightplanner/bin
flightplanner/gen
